<% content_for :head do %>
  <%= javascript_include_tag 'tiny_mce/tiny_mce.js' %>
<%end%>

<% form_for @service, :html => {:multipart => true} do |f| %>
  <%= f.error_messages %>

  <% unless current_user %>
    Please <%= link_to 'login', login_path %> if you have an account with CampZero.com
    <% f.fields_for :user do |user_fields| %>
      <%= user_fields.error_messages %>
      <p>
        <strong><%= user_fields.label :name, 'Full Name' %></strong><br />
        <%= user_fields.text_field :name %>
      </p>
      <p>
        <strong><%= user_fields.label :email %></strong><br />
        <%= user_fields.text_field :email %>
      </p>
      <p>
        <strong><%= user_fields.label :password %></strong><br />
        <%= user_fields.password_field :password %>
      </p>
      <p>
        <strong><%= user_fields.label :password_confirmation %></strong><br />
        <%= user_fields.password_field :password_confirmation %>
      </p>
    <% end %>
  <%end%>


  <p>
    <strong><%= f.label :service_category_id %></strong><br />
    <%= f.select :service_category_id, option_groups_from_collection_for_select(ServiceCategory.roots, :children, :name, :id, :name), :prompt => true %>
  </p>
  <p>
    <strong><%= f.label :title %></strong><br />
    <%= f.text_field :title, :size => 80  %>
  </p>
  <p>
    <strong><%= f.label :service_description %></strong> <i>(also include address, phone number, email etc.)</i><br />
    <%= f.text_area :service_description, :style => "width : 700; rows : 10" %>
  </p>
  <% if @service.attached_files %>
    <strong>Upload pictures</strong>
    <ol>
      <% @service.attached_files.each do |attached_file| %>
        <li>
          <% f.fields_for :attached_files, attached_file do |file_fields| %>
            <%= render :partial => 'attached_files/form', :locals => {:file_fields => file_fields} %>
          <%end%>
        </li>
      <%end%>
    </ol>
  <%end%>

  <%= submit_tag 'Submit' %>
<% end %>


<% content_for :tail do %>
  <%= javascript_include_tag 'tiny_mce/init.js' %>
<%end%>
