<% rating_stars :generate_css => true %>
<% title @title || "Services" %>
<% content_for :head do%>
	<meta name="description" content="CampZero provides easy access to service providers like car rentals, transport needs, office space rent, catering, ambulance and similar kinds in Bangladesh for both corporate and household needs. <%="#{@service_category.name}"  %> Service providers in Bangladesh.">	
<%end%>

  
<% for service in @services %>
  <div style="width:100%;margin: 1em 0; border-bottom: 1px solid #222222;">
    <div style="width: 20%; float: left;">
      <% if (service.attached_files.present?) %>
        <%= link_to image_tag(service.attached_files.first.url(:small)), service_path(service)  %>
      <% else %>
        &nbsp;
      <% end %>
    </div>
    <div style="width: 80%; float: right;">
      <span style="font-weight: bold">
        <%= link_to service.title, service_path(service) %> 
        <% if service.user %>
        <i style="font-weight: normal;">by </i> <%= link_to service.user.name, user_services_path(service.user) %>
        <%end%>
        <%= render :partial => 'ratings/rating', :locals => { :rateable => service } %>
        <% if current_user == service.user %>
          (
          <%= link_to 'Edit', edit_service_path(service) %> |
          <%= link_to 'Delete', service_path(service), :confirm => 'Are you sure you want to delete this ad?', :method => :delete %>
          )
        <% end %>
      </span>
      <p><%= service.service_description %></p>
    </div>
    <div class="clear"></div>
  </div>
<% end %>

<p>
  <%= render :partial => 'layouts/pagination_links', :locals => {:pagables => @services }%>
</p>

<p><%= link_to "New Service", new_service_path %></p>
