<% rating_stars :generate_css => true %>
<% title @service.title || "Service" %>

<%= render :partial => 'ratings/rating', :locals => { :rateable => @service } %>


<p>
  <strong>Service Category:</strong>
  <%=h @service.service_category.name if @service.service_category %>
</p>
<p>
  <strong>Service Provider:</strong>
  <%=link_to(@service.user.name, user_services_path(@service.user)) if @service.user%>
</p>
<p>
  <strong>Service Description:</strong>
  <%= @service.service_description %>
</p>

<% @service.attached_files.each do |attached_file| %>
  <div style="float: left; text-align: center; height: 330px; vertical-align: bottom;">
    <%= link_to image_tag(attached_file.file.url(:medium)), attached_file.file.url(:original) %> <br />
    <%= attached_file.caption %>
  </div>
<%end%>
<div class="clear"></div>

<p>
  <% if current_user == @service.user %>
    <%= link_to "Edit", edit_service_path(@service) %> |
    <%= link_to "Upload new image", new_service_attached_file_path(@service) %> |
    <%= link_to "Destroy", @service, :confirm => 'Are you sure?', :method => :delete %>
  <%end%>
</p>

<h2>Customer feedbacks</h2>
<%= render :partial => 'comments/show', :collection => @service.comments, :as => :comment %>

<% unless current_user == @service.user %>
  <h2>Add your feedback</h2>
  <% if current_user %>
    <%= render :partial => 'ratings/rating', :locals => { :rateable => @service } %>
  <% end %>
  <%= render :partial => 'comments/form', :locals => {:service => @service} %>
<% end %>
