<%= link_to "Go back to: #{@attached_file.service.title}", service_path(@attached_file.service) %>

<h2>Upload new image for <%= @attached_file.service.title%> </h2>
<% form_for @attached_file, :html => {:multipart => true} do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :service_id %>
  <p>
    <%= f.label :caption %><br />
    <%= f.text_field :caption %>
  </p>
  <p>
    <%= f.label :file %><br />
    <%= f.file_field :file %>
  </p>

  <p><%= f.submit "Submit" %>
  or <%= link_to "Go back to: #{@attached_file.service.title}", service_path(@attached_file.service) %></p>
<% end %>


