<% title "Service Provider Categories" %>

<table>
  <tr>
    <th>Name</th>
  </tr>
  <% for service_provider_category in @service_provider_categories %>
    <tr>
      <td><%=h service_provider_category.name %></td>
      <td><%= link_to "Show", service_provider_category %></td>
      <td><%= link_to "Edit", edit_service_provider_category_path(service_provider_category) %></td>
      <td><%= link_to "Destroy", service_provider_category, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Service Provider Category", new_service_provider_category_path %></p>
