<% title "Service Providers" %>

<table>
  <tr>
    <th>Name</th>
    <th>Phone</th>
    <th>Fax</th>
    <th>Mobile</th>
    <th>Email</th>
    <th>Service Category</th>
    <th>Service Provider Category</th>
  </tr>
  <% for service_provider in @service_providers %>
    <tr>
      <td><%=h service_provider.name %></td>
      <td><%=h service_provider.phone %></td>
      <td><%=h service_provider.fax %></td>
      <td><%=h service_provider.mobile %></td>
      <td><%=h service_provider.email %></td>
      <td><%=h service_provider.service_provider_category_id %></td>
      <td><%= link_to "Show", service_provider %></td>
      <td><%= link_to "Edit", edit_service_provider_path(service_provider) %></td>
      <td><%= link_to "Destroy", service_provider, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Service Provider", new_service_provider_path %></p>
