<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title>CampZero.com - <%= h(yield(:title) || "Untitled") %></title>
    <%= stylesheet_link_tag 'application' %>
    <%= yield(:head) %>
	<meta name="google-site-verification" content="wYQfwUaD5slrH_UVOHLKtRLDK4CAshh0-2MrjnMrlgA" />
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-3637483-4']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
      })();

    </script>
  </head>
  <body>
    <div id="header">
      <div id="menu">
        <%= link_to 'CampZero.com', root_path, :class => 'title' %> <i><sup>alpha</sup></i>
        <br />
        Service.Delivered!


        <div class="menu-item">

          <ul>
            <% if controller_name != 'welcome' %>
              <li><%= link_to 'Home', root_path %></li>
            <%end%>
            <li><%= link_to 'Place New ad', new_service_path %></li>
            <% if current_user %>
              <li><%= link_to 'My ads', user_services_path(current_user) %></li>
              <li><%= link_to 'My account', edit_user_path(current_user) %></li>
              <li><%= link_to 'Logout', user_session_path(current_user), :method => :delete %></li>
            <%else%>
              <li><%= link_to 'Login', new_user_path %></li>
            <% end %>
          </ul>
        </div>

      </div>
    </div>
    <div id="container">
      <%= render :partial => 'layouts/search_box' %>

      <%- flash.each do |name, msg| -%>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <%- end -%>

      <%- if show_title? -%>
        <h1 style="vertical-align: middle;">
			<%=h yield(:title) %>
		</h1>
		<%= render :partial => "layouts/facebook"%>
      <%- end -%>

      <%= yield %>
    </div>
    <%= yield(:tail) %>
    <div class="clear"></div>
    <div id="footer">
      &copy; CampZero.com - All rights reserved.
    </div>
  </body>
</html>
