<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title><%= h(yield(:title) || "Untitled") %></title>
    <%= stylesheet_link_tag 'application' %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="header">
      <div id="menu">
        <%= link_to 'CampZero.com', root_path, :class => 'title' %> <i><sup>alpha</sup></i>
        <br />
        Service.Delivered!

        <% if current_user %>
          <div class="menu-item">
            <%= link_to 'Logout', user_session_path(current_user), :method => :delete %>
          </div>
          <div class="menu-item">
            <%= link_to 'My account', edit_user_path(current_user) %>
          </div>
          <div class="menu-item">
            <%= link_to 'My ads', user_services_path(current_user) %>
          </div>
          <div class="menu-item">
            <%= link_to 'Place New ad', new_service_path %>
          </div>
        <%else%>
          <div class="menu-item">
            <%= link_to 'Login', new_user_path %>
          </div>
        <% end %>
        <% if controller_name != 'welcome' %>
          <div class="menu-item">
            <%= link_to 'Home', root_path %>
          </div>
        <%end%>
      </div>
    </div>
    <div id="container">
      <div id="search_box" style="width: 100%; text-align: center; margin-bottom: 1em; vertical-align: middle;">
        <% form_tag services_path, :method => :get do |f| %>
          <%= text_field_tag 'query', '', :size => 40, :style => 'font-size: 1.3em;' %>
          <button type="submit" style = 'font-size: 1.3em;'> Search</button>
        <% end %>

      </div>

      <%- flash.each do |name, msg| -%>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <%- end -%>

      <%- if show_title? -%>
        <h1><%=h yield(:title) %></h1>
      <%- end -%>

      <%= yield %>
    </div>
    <%= yield(:tail) %>
    <div class="clear"></div>
    <div id="footer">
      &copy; CampZero.com - All rights reserved.
    </div>
  </body>
</html>
